    <div id="content">
    <!--  CONTENT ELEMENT, uid:1/text [begin] -->
        <div id="c1" class="csc-default" >
        <!--  Header: [begin] -->
            <div class="csc-header csc-header-n1"><h2 class="csc-firstHeader">Impressum</h2></div>
        <!--  Header: [end] -->
            
        <!--  Text: [begin] -->
            <h4>Anbieter und Verantwortlicher für den Inhalt von openseamap.org</h4>
<pre>Olaf Hannemann<br />Dorfstraße 17<br />23847 Stubben</pre>
<pre>ohannemann@opensource-werkstatt-stubben.org</pre>
<h4>Rechtliche Hinweise</h4>
<h5>1. Haftungsbeschränkung</h5>
<p class="bodytext">Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder.
</p>
<h5>2. Amtliche Seekarten</h5>
<p class="bodytext">Die Benutzung aktueller amtlicher Seekarten gehört zu einer guten Seemannschaft. OpenSeaMap dient zur Törnvorbereitung und als Übersicht und Ergänzung zu anderen Seekarten. OpenSeaMap kann keine amtliche Karte ersetzen.
</p>
<h5>3. Externe Links</h5>
<p class="bodytext">Diese Website enthält Verknüpfungen zu Websites Dritter (&quot;externe Links&quot;). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle dieser externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.</p>
        <!--  Text: [end] -->
            </div>