<div id="content">
    <!--  CONTENT ELEMENT, uid:2/text [begin] -->
    <div id="c2" class="csc-default" >
    <!--  Header: [begin] -->
        <div class="csc-header csc-header-n1">
            	<h2 class="csc-firstHeader">Legal notices</h2>
        </div>
        <!--  Header: [end] -->
            
    <!--  Text: [begin] -->
        <h4>Provider &amp; responsibilty for OpenSeaMap</h4>
			<pre>Olaf Hannemann<br />Dorfstraße 17<br />23847 Stubben</pre>
			<pre>ohannemann@opensource-werkstatt-stubben.org</pre>
		<h4>Legal Notices</h4>
			<h5>1. Restrictions</h5>
			<p class="bodytext">The content on this site will be monitored with the greatest possible care, however the provider does not vouch for the accuracy and completeness of the content.  Usage of the content of the website is at the users own risk.  Named contributions do not reflect the views of the author or the provider.
			</p>
			<h5>2. Official Charts</h5>
			<p class="bodytext">Good seamanship requires the use of official charts.  OpenSeaMap is for use with other charts and cannot replace official charts.  Use is at your own risk.
			</p>
			<h5>3. External Links</h5>
			<p class="bodytext">This website contains links to third party websites.  These sites are the property and liability of their respective owners.  The supplier has checked the links when they were added; at the time there were no apparent bad sites.  However, the provider has no control over the current revisions.  The provision of these external links does not mean the provider controls the content or takes responsibility for that content.  If notified of dangerous sites, these links will be removed.
			</p>
			<p class="bodytext">Please note; these notices were translated from the original German and therefore should not be taken as completely correct.</p>
    <!--  Text: [end] -->
    </div>
    <!--  CONTENT ELEMENT, uid:2/text [end] -->
</div>
