<div id="content">
    <div id="c1" class="csc-default" >
        <div class="csc-header csc-header-n1">
            <h2 class="csc-firstHeader">Impressum</h2>
        </div>
        <h4>Anbieter und Verantwortlicher f&uuml;r den Inhalt von openseamap.org</h4>
            <pre>Olaf Hannemann<br />Dorfstra&szlig;e 17<br />23847 Stubben</pre>
            <pre>ohannemann@opensource-werkstatt-stubben.org</pre>
        <h4>Rechtliche Hinweise</h4>
            <h5>1. Haftungsbeschr&auml;nkung</h5>
            <p class="bodytext">Die Inhalte dieser Website werden mit gr&ouml;&szlig;tm&ouml;glicher Sorgfalt erstellt. Der Anbieter &uuml;bernimmt jedoch keine Gew&auml;hr f&uuml;r die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beitr&auml;ge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder.
            </p>
            
            <h5>2. Amtliche Seekarten</h5>
            <p class="bodytext">Die Benutzung aktueller amtlicher Seekarten geh&ouml;rt zu einer guten Seemannschaft. OpenSeaMap dient zur T&ouml;rnvorbereitung und als Übersicht und Erg&auml;nzung zu anderen Seekarten. OpenSeaMap kann keine amtliche Karte ersetzen.
            </p>
            
            <h5>3. Externe Links</h5>
            <p class="bodytext">Diese Website enth&auml;lt Verkn&uuml;pfungen zu Websites Dritter (&quot;externe Links&quot;). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verkn&uuml;pfung der externen Links die fremden Inhalte daraufhin &uuml;berpr&uuml;ft, ob etwaige Rechtsverst&ouml;&szlig;e bestehen. Zu dem Zeitpunkt waren keine Rechtsverst&ouml;&szlig;e ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zuk&uuml;nftige Gestaltung und auf die Inhalte der verkn&uuml;pften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine st&auml;ndige Kontrolle dieser externen Links ist f&uuml;r den Anbieter ohne konkrete Hinweise auf Rechtsverst&ouml;&szlig;e nicht zumutbar. Bei Kenntnis von Rechtsverst&ouml;&szlig;en werden jedoch derartige externe Links unverz&uuml;glich gel&ouml;scht.</p>
    </div>
</div>