<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong><span data-trt="{{title}}"></span></strong> <span data-trt="{{msg}}"></span>
</div>
