<h3>Contribute</h3>

<h4>Bug Tracking</h4>
Known bugs may be found <a href="https://github.com/OpenSeaMap/depth_webfrontend/issues/">here</a>.<br>
Reports for the web page can be reported there.
Errors that may come from the server parts are reported there as well.

<h4>Sources</h4>
The <a href="https://github.com/OpenSeaMap/depth_webfrontend.git">website</a> is hosted at Github.<br>
The sources for the server can be found at <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/org.osm.depth.upload/">SourceForge</a>.<br>
The backend procesing ist only partially released to the public as there are some licensing issues and programming issues to be addressed.<br>
Released parts may be found at <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/">SourceForge</a>.<br>
