<h3>Beitragen</h3>

<h4>Erweiterungen und Fehlersuche</h4>
Offene Erweiterungen und Fehler sind <a href="https://github.com/OpenSeaMap/depth_webfrontend/issues/">hier</a> zu finden.<br>
Dort können auch weitere Fehler der Webseite berichtet werden.
Serverseitige Fehler sind dort ebenfalls zu berichten.
Wenn der Track falsch prozessiert wurde, kann hier ebenfalls ein Issue eingestellt werden mit der zugehörigen Track Id

<h4>Quellen</h4>
Die <a href="https://github.com/OpenSeaMap/depth_webfrontend.git">Webseite</a> ist auf Github gehosted.<br>
Die Quellen für den <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/org.osm.depth.upload/">Server</a> liegen aktuell bei SourceForge.<br>
Die <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/">Backend-Prozessierung</a> ist nur teilweise freigegeben, da noch Lizenzinformationen, Programmfreigaben und die nötige Code-Qualität fehlt.<br>
Freigegebene Teile sind bei SourceForge zu finden.<br>

<h4>Ressourcen</h4>
Die Entwicklerkommunikation wird über <a href="mailto:openseamap-develop@lists.sourceforge.net">Mailingliste</a> abgewickelt.<br>
Die Dokumentation ist im <a href="http://wiki.openseamap.org/wiki/OpenSeaMap-dev:Portal">OpenSeaMap Developer Wiki</a> zu finden.<br>
Einige Dateiformate sind im <a href="http://wiki.openstreetmap.org/wiki/SL2">OpenStreetMap Wiki</a> beschrieben.

