<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	</head>
<body>

<legend>Kontakte</legend>

	<div>
		<pre>Es gibt verschiedene Möglichkeiten, mit uns Kontakt aufzunehmen:</pre>
		<table width="522" height="163">
			<tbody>
				<tr>
					<td>Fragen zu OpenSeaMap, Wassertiefen, etc.:</td>
					<td><a href="javascript:linkTo_UnCryptMailto('nbjmup+qspkfduApqfotfbnbq/psh');">project<span>@</span>openseamap.org</a></td>
					</tr><tr>
					<td>Kontakt für Behörden, Firmen, Programmierer:</td>
					<td><a href="javascript:linkTo_UnCryptMailto('nbjmup+qspkfduApqfotfbnbq/psh');">project<span>@</span>openseamap.org</a></td>
					</tr><tr>
					<td>Presse: </td>
					<td><a href="javascript:linkTo_UnCryptMailto('nbjmup+qsfttApqfotfbnbq/psh');">press<span>@</span>openseamap.org</a><br>
						<a href="index.php?id=artikel-ueber-openseamap&amp;L=838">Presseverzeichnis</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		
</body>
