<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	</head>
<body>

<legend>Contact</legend>

	<div>
		<pre>There are several ways to contact us:</pre>
		<table width="522" height="163">
			<tbody>
				<tr>
					<td>Questions about OpenSeaMap, Depth, etc .:</td>
					<td><a href="javascript:linkTo_UnCryptMailto('nbjmup+qspkfduApqfotfbnbq/psh');">project<span>@</span>openseamap.org</a></td>
					</tr><tr>
					<td>Contact for authorities, companies, programmers:</td>
					<td><a href="javascript:linkTo_UnCryptMailto('nbjmup+qspkfduApqfotfbnbq/psh');">project<span>@</span>openseamap.org</a></td>
					</tr><tr>
					<td>Press: </td>
					<td><a href="javascript:linkTo_UnCryptMailto('nbjmup+qsfttApqfotfbnbq/psh');">press<span>@</span>openseamap.org</a><br>
						<a href="index.php?id=artikel-ueber-openseamap&amp;L=838">Press directory</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		
</body>
