<h3>Contribute</h3>

<h4>Bug Tracking and open tasks</h4>
Known tasks and bugs may be found <a href="https://github.com/OpenSeaMap/depth_webfrontend/issues/">here</a>.<br>
Reports for the web page can be reported there.
Errors that may come from the server parts are reported there as well.<br>
If you think your tracks were not processed correctly, create an issue as well stating the track id.

<h4>Sources</h4>
The <a href="https://github.com/OpenSeaMap/depth_webfrontend.git">website</a> is hosted at Github.<br>
The sources for the <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/org.osm.depth.upload/">server</a> can be found at SourceForge.<br>
The <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/">backend processing</a> is only partially released to the public as there are some licensing issues and programming issues to be addressed.<br>
Released parts may be found at SourceForge.<br>

<h4>Resources</h4>
The developer communication is done via <a href="mailto:openseamap-develop@lists.sourceforge.net">mailing list</a>.<br>
The documentation can be found at the <a href="http://wiki.openseamap.org/wiki/OpenSeaMap-dev:Portal">OpenSeaMap Developer Wiki</a>.
Some file formats are described in the <a href="http://wiki.openstreetmap.org/wiki/SL2">OpenStreetMap Wiki</a>.
