<h3>Beitragen</h3>

<h4>Fehlersuche</h4>
Offene Fehler sind <a href="https://github.com/OpenSeaMap/depth_webfrontend/issues/">hier</a> zu finden.<br>
Dort können auch weitere Fehler der Webseite berichtet werden.
Serverseitige Fehler sind dort ebenfalls zu berichten.

<h4>Quellen</h4>
Die <a href="https://github.com/OpenSeaMap/depth_webfrontend.git">Webseite</a> ist auf Github gehosted.<br>
Die Quellen für den Server liegen aktuell bei <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/org.osm.depth.upload/">SourceForge</a>.<br>
Die Backend-Prozessierung ist nur teilweise freigegeben, da noch Lizenzinformationen, Programmfreigaben und die nötige Code-Qualität fehlt.<br>
Freigegebene Teile sind bei <a href="http://sourceforge.net/p/seesea/code/HEAD/tree/trunk/">SourceForge</a> zu finden.<br>



