<div>
    <div >
        <h3>Depth Sensor Position</h3>
        <h4>Improve the accuracy of your data by providing the exact sensor position</h4>
        <p><label class="tableft50">Distance from Stern</label></p>
        <div class="input-append">
            <input type="text" class="input-mini" name="distanceY" placeholder="0.00"/>
            <span class="add-on">m</span>
        </div>
        <p><label class="tableft50">Distance from Centerline</label></p>
        <div class="input-append">
            <input type="text" class="input-mini" name="distanceX" placeholder="0.00"/>
            <span class="add-on">m</span>
        </div>
        <p><label class="tableft50">Position below Waterline</label></p>
        <div class="input-append">
            <input type="text" class="input-mini" name="distanceZ" placeholder="0.00"/>
            <span class="add-on">m</span>
        </div>
        <p><label class="tableft50">Depth Measurement</label></p>
        <div class="input-append">
            <select name="depthmeasurement" size="1">
              <option>Autodetect</option>
              <option>Depth below Transducer</option>
              <option>Depth below Keel</option>
              <option>Depth below Waterline</option>
            </select>
        </div>
        <p><label class="tableft50">Sensor offset to Keel</label></p>
        <div class="input-append">
            <input type="text" class="input-mini" name="depthOffsetKeel" placeholder="0.00"/>
            <span class="add-on">m</span>
        </div>
    </div>
</div>