<legend>
	<div class="oseam-map-tracks"></div>
</legend>

<button class="btn oseam-add"><i class="icon-plus-sign"></i> Add new gauge ...</button>

<div id="detail">
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th column="date">Date<span class="icon-none"></span></th>
            <th column="value">Value<span class="icon-none"></span></th>
            <th data-trt="1043:Action"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
