<legend>
	<div class="hero-unit">
    	<h1>Goodbye, see you again</h1>
    	<br>
    	<p>
    	<b style="font-size:150%;">{{firstname}}</b>, we like to thank you for your data-point donation and hope that you will 
    	continue to support this project in the future.
    	</p>
	</div>
</legend>

<div class="row-fluid">
    <div class="span4">
        <h2>Acquisition</h2>
        <p>
        Help us collecting water depth data! GPS, sounder and PC is
        all you need. We then will calculate depth contour lines for
        the chart. Worldwide.
        </p>
        <p><a class="btn" href="#introduction">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Processing</h2>
        <p>
        Using your raw data we calculate water depths. We feed it with
        heel and tide data. Using statistical methods, we calculate a
        digital elevation model from thousands of measurements.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Rendering</h2>
        <p>
        We derive contours from the digital elevation model. On
        sufficient accuracy they will be displayed on the map.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
</div>
