<div class="hero-unit">
    <h1>Depth Data</h1>
    <p>
    To build open source navigation charts, this projects needs depth
    data. Support us by uploading your tracks.
    </p>
</div>
<div class="row-fluid">
    <div class="span4">
        <h2>Acquisition</h2>
        <p>
        Help us collecting water depths data! GPS, sounder and PC is
        all you need. We then will proceed depth contour lines for
        the chart. Worldwide.
        </p>
        <p>There is a minimal test version available.</p>
        <p><a class="btn" href="http://testdepth.openseamap.org" target="_blank">Test version &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Processing</h2>
        <p>
        Using your raw data we calculate water depths. We fed it with
        heel and tide data. Using statistical methods, we calculate a
        digital elevation model from thousands of measurements.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Rendering</h2>
        <p>
        We derive contours from the digital elevation model. On
        sufficient accuracy they will be displayed on the map.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
</div>
