<div class="hero-unit">
    <h1>Tiefendaten</h1>
    <p>
    Um freie Seekarten zu erstellen, benötigt OpenSeaMap
    Tiefendaten. Unterstütze uns durch das Hochladen deiner Tracks.
    </p>
    <p><a class="btn btn-primary btn-large" href="#introduction">Mehr darüber &raquo;</a></p>
</div>
<div class="row-fluid">
    <div class="span4">
        <h2>Sammeln</h2>
        <p>
        Hilf uns Wassertiefen-Daten zu sammeln! GPS, Echolot und PC
        reichen aus. Wir generieren daraus Tiefenlinien für die
        Karte. Weltweit.
        </p>
        <p><a class="btn" href="#introduction">Details anzeigen &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Berechnung</h2>
        <p>
        Aus Deinen Rohdaten berechnen wir die Wassertiefe. Wir
        beschicken sie mit Welle und Tide. Aus tausenden Datenpunkten
        erzeugen wir mit statistischen Methoden ein möglichst genaues
        Geländeprofil.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Rendern</h2>
        <p>
        Aus dem Tiefenprofil leiten wir Tiefenlinien ab. Bei
        ausreichender Genauigkeit werden diese in der Karte
        angezeigt.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
</div>
