<legend>Anleitung zum Hochladen</legend>

<pre>Dieser Text wurde zunächst einmal grob übersetzt, muss jedoch noch einmal überprüft und ergänzt werden.</pre>

<h5>Unterstützte Formate sind:</h5>
<ul>
    <li>NMEA0183</li>
    <li>Actisense&#174; NMEA 2000</li>
    <li>Humminbird&#174; SON</li>
    <li>Raymarine&#174; FSH</li>
    <li>Lowrance&#174; SL2</li>
    <li>Winprofile&#174; Sharp Files</li>
</ul>

<h5>Nicht unterstützte Formate sind:</h5>
<ul>
    <li>Generic NMEA 2000 (CAN Recordings)</li>
    <li>Lowrance&#174; SLG Files</li>
</ul>

<h5>Unterstützte Kompressionsverfahren sind:</h5>
<ul>
    <li>ZIP</li>
    <li>GZIP</li>
</ul>

<h5>Nicht unterstützte Kompressionsverfahren sind:</h5>
<ul>
    <li>7z</li>
    <li>rar</li>
    <li>tar</li>
</ul>

<h5>Hinweise zum Dateiformat</h5>
<ol>
    <li>NMEA0183</li>
    <ol>
        <li>
		Den Sätzen kann eine genaue Zeit vorangestellt werden, sie muss jedoch nicht zwingend 
		vorangestellt sein. Beide Formen von Daten-Sätzen werden verarbeitet:
        <pre>2013-06-29 13:58:31.120664: $GPGSV,2,1,08,15,22,186,30,04,20,091,28,25,35,267,32,17,16,040,31*7A<br>
$GPGSV,2,1,08,15,22,186,30,04,20,091,28,25,35,267,32,17,16,040,31*7A</pre>
		Die genaue Zeit wird derzeit noch nicht weiter berücksichtigt.
        </li>
        <li>
        Die Datensätze (z.B. GLL / RMC oder DPT / DBT) mit der höchsten Aktualisierungsrate 
        und den meisten Messungen werden berücksichtigt und zur Anzeige ausgewählt.
        </li>
    </ol><br>
    <li>NMEA2000<br>
    	Das Binaray-Format Actisense * .dat kann gelesen werden. Das Rapid-Position-Update-PGN 
    	wird derzeit nicht verwendet, da es keine Messzeit hat.
    </li><br>
    <li>Raymarine&#174; FSH<br>
		Beim Raymarine Datenformat fehlen wesentliche Informationen wie die Messzeit und 
		eine regelmäßige Tiefenmessung. Diese Information ist entscheidend für die 
		Beseitigung systematischer Fehler in den Messdaten. Wenn Sie eine andere Möglichkeit 
		zum Aufzeichnen von Daten wie z.B. NMEA0183 haben, verwenden Sie bitte diese 
		anstelle des Raymarine Datenformats.
    </li><br>
    <li>Humminbird&#174; SON<br>
		Die übermittelten Dateien müssen für eine einzelne Aufnahme gepackt werden. Die 
		ZIP-Datei muss mindestens eine DAT-Datei und einen Ordner des ersten Sensors 
		enthalten, der eine IDX- und eine .son-Datei enthält. Die enthaltenen Daten können 
		möglicherweise von mehreren Tiefensensoren wie einem Tiefensensor oder einem 
		Side-Scan-Bild aufgezeichnet sein. Jedoch können nur die Tiefenangaben aus der 
		regulären Tiefenmessung berücksichtigt werden. Side-Scan-Bilder vermitteln nur eine 
		Vorstellung vom Bodenprofil, aber keine genauen Tiefenmessungen.
    </li>
</ol>

<h5>Paketierungshinweise</h5>
<ul>
    <li>Stellen Sie Datendateien nur EINMAL in einem unterstützten Format bereit. Durch 
    	das Bereitstellen von Datendateien in mehreren Formaten wird die Gesamtqualität 
    	beeinträchtigt.</li>
    <li>Wenn Sie ein Format vermissen, öffnen Sie bitte auf Github ein Ticket mit einer 
    	Beispieldatei, sodass wir die Verarbeitungsmöglichkeiten hinzufügen können.</li>
    <li>Sie können eine einzelne Datei in eine ZIP-Datei oder mehrere Dateien in eine 
    	ZIP-Datei packen, mit Ausnahme von Humminbird® SON-Dateien.</li>
    <li>Obwohl wir versuchen, ZIP-Dateien mit unterschiedlichen Formatinhalten zu 
    	verarbeiten, unterstützen wir dies nicht aktiv. Bitte erstellen Sie für jedes 
    	Dateiformat, das Sie haben, eine separate ZIP-Dateien.</li>
</ul>

<h5>Bearbeitungshinweis</h5>
<ul>
    <li>Der Kalman-Filter ist derzeit deaktiviert. Es ist geplant, eine zweite Schicht 
    	bereitzustellen, in der die von Kalman gefilterte Daten angezeigt werden.</li>
</ul>
