<h4>Upload Hinweise</h4>
Unterstützte Formate sind
<ul>
    <li>NMEA0183</li>
    <li>Actisense&#174; NMEA 2000</li>
    <li>Humminbird&#174; SON</li>
    <li>Raymarine&#174; FSH</li>
    <li>Winprofile&#174; Sharp Dateien</li>
</ul>

Nicht unterstützte Formate sind
<ul>
    <li>Generic NMEA 2000 (CAN Recordings)</li>
    <li>Lowrance&#174; Dateien</li>
    <li>Garmin ADM/IMG</li>
</ul>

Unterstützte Kompressionsformate sind
<ul>
    <li>ZIP</li>
    <li>GZIP</li>
</ul>

Nicht unterstützte Kompressionsformate sind
<ul>
    <li>7z</li>
    <li>rar</li>
    <li>tar</li>
</ul>

<h5>Dateiformat Hinweise</h5>
<ol>
    <li>NMEA0183</li>
    <ol>
        <li>
        Die Sätze dürfen, müssen aber nicht mit einem genauen Zeitstempel versehen sein.
        Beide Formate werden verarbeitet: 
        <pre>2013-06-29 13:58:31.120664: $GPGSV,2,1,08,15,22,186,30,04,20,091,28,25,35,267,32,17,16,040,31*7A
$GPGSV,2,1,08,15,22,186,30,04,20,091,28,25,35,267,32,17,16,040,31*7A</pre>The accurate time is not being analyzed, yet.
        </li>
        <li>
        Der Satz (z.B. GLL/RMC oderr DPT/DBT) mit der höchsten Aktualisierungsrate und den meisten Messungen wird nachher angezeigt. 
        </li>
    </ol>
    <li>NMEA2000<br>
    Das binäre Actisense *.dat Format kann gelesen werden. Die Rapid Position Update PGN wird aktuell nicht verwendet, da sie keine Messzeit mit ihr assoziiert ist.
    </li>
    <li>Raymarine&#174; FSH<br>
    In diesen Aufzeichnungen fehlen wichtige Daten wie der Zeitbezug und je nach Einstellung auch eine regelmässig erfasste Tiefe.
    Der Zeitbezug ist enorm wichtig um systematische Messfehler zu entfernen.
    Wenn du eine andere Option hast, um die Daten aufzuzeichen wie z.B. NMEA0183, verwende diese.
    </li>
    <li>Humminbird&#174; SON<br>
    Die übertragenen Dateien müssen gezipped sein für eine Aufzeichnung.
    Die Zip-Datei muss mindestens die .dat Datei und ein Verzeichnis mit dem ersten Sensor beinhalten.
    Dieses Verzeichnis beinhaltet die .idx Index Datei und die .son Daten.
    Die aufgezeichneten Daten können mehrere Tiefensensoren beinhalten, wie z.B. ein Sidescan Sonar.
    Aktuell wird nur der reine Tiefensensor prozessiert und die Sidescan Daten werden vorerst ignoriert.
    </li>
</ol>

<h5>Pack-Hinweise</h5>
<ul>
    <li>Lade Dateien nur in EINEM Format hoch, was unterstützt wird. Mehrfaches Hochladen in untrschiedlichen Formaten reduziert die Qualität der Daten</li>
    <li>Wenn du ein Format vermisst, erstelle einen <a href="https://github.com/OpenSeaMap/api">Issue</a> mit einer Beispieldatei, so dass wird die Verarbeitungsschritte hinzufügen können.</li>
    <li>Du kannst eine Datei oder mehrere Dateien in einem Zip komprimieren mit der Ausnahme von Humminbird&#174; SON files.</li>
    <li>Zip Files mit mehreren Formaten werden pro Zip können nicht prozessiert werden.</li>
</ul>

<h5>Verarbeitungshinweise</h5>
<ul>
    <li>Die Verarbeitung ist in der Testphase noch nicht automatisiert und erfolgt in unregelmässigen Intervallen, um Fehler zu finden</li>
</ul>
