<h4>1. Register</h4>
<p>
This site allows you to upload your tracks and manage your
vessels configuration. Therefore you need a valid account.
</p>
<ul>
    <li><a href="#register">Register</a></li>
</ul>

<h4>2. Getting Data</h4>
<p>
You need a GPS device, a sounder and a PC or chart plotter to record your
vessels position and depth data. Additionally you should do some
manual measurements. There is a document for that:
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/images/0/0f/Vessel_info_de.pdf" target="_blank">Vessel information (German)</a></li>
</ul>
<img src="images/introduction-process-en.png" />

<h5>Software Logger</h5>
<p>
The software logger <em>OpenSeaMap Data Logger</em> records your
NMEA data on a hard disk or on a USB stick. This software is also
a navigation program and displays the OpenSeaMap chart together with
your vessels position and additional navigational data like speed,
direction, depth and wind. Normally, you'll need a USB device which
converts the received NMEA data.
</p>
<ul>
    <li><a href="http://seesea.sourceforge.net/datalogger/index.html" target="_blank">OpenSeaMap Data Logger</a></li>
    <li><a href="http://wiki.openseamap.org/wiki/De:Bordnetz" target="_blank">Bordnetz</a></li>
</ul>

<h5>Chart Plotter</h5>
<p>
Some chart plotters like Raymarine and Lowrance can store dept data
directly to a built in SD card. We can proceed such data too.
</p>

<h5>Hardware Logger</h5>
<p>
We are actually working on a cheap hardware logger which can be
connected directly to you board network and does not require any
other electrical device. Hardware developers wanted...
</p>

<h4>3. Upload Tracks</h4>
<p>
We are pleased about every record. To upload tracks use the folling
link:
</p>
<ul>
    <li><a href="#tracks">Upload tracks</a></li>
</ul>

<h4>4. Manage Vessels</h4>
<p>
Development for this part is still in progress.
</p>

<h4>5. Link Tracks and Vessels</h4>
<p>
Development for this part is still in progress.
</p>
