<h4>1. Registrieren</h4>
<p>
This site allows you to upload your tracks and manage your
vessels configuration. Therefore you need a valid account.
</p>
<ul>
    <li><a href="#register">Registrieren</a></li>
</ul>

<h4>2. Daten sammeln</h4>
<p>
Du benötigst ein GPS Gerät, ein Echolot und einen PC oder Kartenplotter
um Positions- und Tiefendaten deines Schiffes aufzuzeichnen. Zusätzlich
solltest du einige manuelle Messungen vornehmen. Ein Dokument findest
hier:
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/images/0/0f/Vessel_info_de.pdf" target="_blank">Vessel information (German)</a></li>
</ul>
<img src="images/introduction-process-de.png" />

<h5>Software Logger</h5>
<p>
Der Software Logger <em>OpenSeaMap Data Logger</em> sammelt deine
NMEA-Daten auf einer Festplatte oder einem USB-Stick. Diese Software
ist gleichzeitig ein Navigations-Programm und zeigt die OpenSeaMap
Karte zusammen mit der Schiffsposition und weiteren Navigationsdaten
wie Geschwindigkeit, Kurs, Tiefe und Wind. Im Normallfall benötigst du
einen USB Adapter, welcher die empfangenen NMEA Daten konvertiert.
</p>
<ul>
    <li><a href="http://seesea.sourceforge.net/datalogger/index.html" target="_blank">OpenSeaMap Data Logger</a></li>
    <li><a href="http://wiki.openseamap.org/wiki/De:Bordnetz" target="_blank">Bordnetz</a></li>
</ul>

<h5>Kartenplotter</h5>
<p>
Einige Kartenplotter, beispielsweise von Raymarine und Lowrance haben
einen eingebauten SD-Karten-Slot und können Tiefendaten direkt
speichern. Diese Daten können wir ebenfalls verarbeiten.
</p>

<h5>Hardware Logger</h5>
<p>
Wir entwickeln einen Hardware-Logger, der direkt an den NMEA-Bus
angeschlosen werden soll, und der die Daten automatisch auf eine
SD-Karte schreibt. Wir suchen Hardware-Entwickler...
</p>

<h4>3. Tracks hochladen</h4>
<p>
Wir freuen uns über jeden Datensatz. Um Daten hochzuladen, benutze den
folgenden Link:
</p>
<ul>
    <li><a href="#tracks">Tracks hochladen</a></li>
</ul>

<h4>4. Yachten verwalten</h4>
<p>
Die Entwicklung für diesen Teil ist noch noch im Gange.
</p>

<h4>5. Zuordnung Tracks zu Yachten</h4>
<p>
Die Entwicklung für diesen Teil ist noch noch im Gange.
</p>
