<legend>Introduction</legend>
<h4>1. Register</h4>
<p>
This site allows you to upload your tracks and manage your
vessels configuration. Therefore you need a valid account.
</p>
<ul>
    <li><a href="#register">Register</a></li>
</ul>

<h4>2. Getting Data</h4>
<p>
You need a GPS device, a sounder and a data logger to record your
vessels position and depth data. Additionally, you need to describe the ship and the devices.
<img src="images/Overview-en.jpg" alt: "Process flow chart" />

<h5>Software Logger</h5>
<p>
The software logger <em>OpenSeaMap Data Logger</em> records your
NMEA data on a hard disk or on a USB stick. This free software runs on Windows and Linux.
It is also a navigation program and displays the OpenSeaMap chart together with
your vessels position and additional navigational data like speed,
direction, depth and wind. Normally, you'll need a USB device which
converts the received NMEA data.
</p>
<ul>
    <li><a href="http://seesea.sourceforge.net/datalogger/index.html" target="_blank">OpenSeaMap Data Logger</a></li>
    <li><a href="http://wiki.openseamap.org/wiki/De:Bordnetz" target="_blank">Bordnetz</a></li>
</ul>

<h5>Chart Plotter</h5>
<p>
Some chart plotters like Raymarine, Lowrance and Garmin can store dept data
directly to a built in SD card. We can proceed such data too.
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/wiki/De:Hardware_logger#Ger.C3.A4teliste">Hardware-Logger</a></li>
</ul>

<h5>Hardware Logger</h5>
<p>
We developed a hardware logger which can be
connected directly to the ship's network. It may be connected to a NMEA-0183 or Seatalk-1 bus.
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/wiki/De:Hardware_logger#OpenSeaMap-Hardware-Logger">Hardware-Logger</a></li>
</ul>
<div class="row">
  <div class="span5">
    <a href="http://wiki.openseamap.org/wiki/De:Hardware_logger#OpenSeaMap-Hardware-Logger">
      <img src="images/HardwareLogger.jpg" alt="OpenSeaMap Hardware-Logger"/>
    </a>
  </div>
</div>

<h4>3. Upload Tracks</h4>
<p>
We are pleased about every record. To upload tracks use the folling
link:
</p>
<ul>
    <li><a href="#tracks">Upload tracks</a></li>
</ul>

<h4>4. Manage Vessels</h4>
<p>
To evaluate the raw data, we need a detailed description of the measurement platform, so the vessel, the devices and the sensors.
</p>
<ul>
    <li><a href="#vessels">Schiffsbeschreibung</a></li>
    <li><a href="http://wiki.openseamap.org/wiki/De:Metadata_help">Help</a></a></li>
</ul>

<h4>5. Link Tracks and Vessels</h4>
<p>
When uploading depth data you need to specify with which boat they were recorded.
</p>
