<legend>Einführung</legend>
<h4>1. Registrieren</h4>
<p>
Hier kannst du deine Tiefendaten hochladen und die Ausstattung deines Schiffes beschreiben.
Dafür musst du ein Benutzerkonto anlegen.
</p>
<ul>
    <li><a href="#register">Benutzerkonto anlegen</a></li>
</ul>

<h4>2. Daten sammeln</h4>
<p>
Du benötigst ein GPS-Gerät, ein Echolot und einen Logger
um Positions- und Tiefendaten deines Schiffes aufzuzeichnen. Zusätzlich
musst du das Schiff und die Messgeräte beschreiben:
</p>

<img src="images/Overview-de.jpg" alt: "Prozess Ablaufplan" />

<h5>Software Logger</h5>
<p>
Der <em>OpenSeaMap Software Logger</em> sammelt deine
NMEA-Daten auf einer Festplatte oder einem USB-Stick. Die kostenlose Software läuft auf Windows und Linux.
Sie ist gleichzeitig ein Navigations-Programm und zeigt die OpenSeaMap-Karte
zusammen mit der Schiffsposition und weiteren Navigationsdaten
wie Geschwindigkeit, Kurs, Tiefe und Wind. Zum Anschliessen der Geräte benötigst du
einen USB-Adapter.
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/wiki/De:Software_logger" target="_blank">Software Logger</a></li>
    <li><a href="http://wiki.openseamap.org/wiki/De:Bordnetz" target="_blank">Bordnetz</a></li>
</ul>

<h5>Kartenplotter</h5>
<p>
Einige Kartenplotter, beispielsweise von Raymarine, Lowrance und Garmin haben
einen eingebauten SD-Karten-Slot und können Tiefendaten direkt
speichern. Diese Daten können wir ebenfalls verarbeiten.
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/wiki/De:Hardware_logger#Ger.C3.A4teliste">Hardware-Logger</a></li>
</ul>

<h5>Hardware Logger</h5>
<p>
Wir haben einen Hardware-Logger gebaut, der direkt an der Navigation
angeschlossen wird, und der die Daten automatisch auf eine
SD-Karte schreibt. NMEA-0183 und Seatalk-1 kann mit dem Gerät aufgezeichnet werden.
</p>
<ul>
    <li><a href="http://wiki.openseamap.org/wiki/De:Hardware_logger#OpenSeaMap-Hardware-Logger">Hardware-Logger</a></li>
</ul>
<div class="row">
  <div class="span5">
    <a href="http://wiki.openseamap.org/wiki/De:Hardware_logger#OpenSeaMap-Hardware-Logger"/>
      <img src="images/HardwareLogger.jpg" alt="OpenSeaMap Hardware-Logger"/>
    </a>
  </div>
</div>

<h4>3. Tracks hochladen</h4>
<p>
Wir freuen uns über jeden Datensatz. Um Daten hochzuladen, benutze den
folgenden Link:
</p>
<ul>
    <li><a href="#tracks">Tracks hochladen</a></li>
</ul>

<h4>4. Schiff beschreiben</h4>
<p>
Um die Rohdaten auszuwerten brauchen wir eine genaue Beschreibung der Messplattform, also des Schiffes, der Geräte und der Sensoren.
</p>
<ul>
    <li><a href="#vessels">Schiffsbeschreibung</a></li>
    <li><a href="http://wiki.openseamap.org/wiki/De:Metadata_help">Hilfe</a></li>
</ul>

<h4>5. Zuordnung des Tracks zum Schiff</h4>
<p>
Beim Hochladen von Tiefen-Daten musst du angeben, mit welchem Schiff diese aufgezeichnet wurden.
</p>
