<h4>Uploaded Tracks</h4>
<p>
If you are uploading tracks you agree to the terms of the 
<a href="http://opendatacommons.org/licenses/pddl/1-0/">ODC Public Domain Dedication and Licence (PDDL).</a>
If you provide additional data that is not stored in the track file this data is licensed under the terms of PDDL as well.
</p>

<p>
Recorded Tracks are sensitive personal data because they show where you have been at what point in time.
</p>
<h4>Chart</h4>
<p>
The chart may show data that requires attributions to contributors.
As long as the chart is in a testing phase it may not be used publically
</p>
 