<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Draft!</h4>
    This part is under construction. We are in progress to define suitable licenses.
</div>
<h4>Uploaded Tracks</h4>
<p>
For the uploaded tracks we will provide <em>Contributor Terms</em>.
They are applicable for technical meta data as well.
</p>
<h4>Privacy Statement</h4>
<p>
...
</p>
<h4>Chart</h4>
<p>
The map will be distributed under CC-by-SA or a similar free license.
</p>
