<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    This part is under construction. We are in progress to define suitable licenses.
</div>
<h4>Uploaded Tracks</h4>
<p>
For the uploaded tracks we will provide "Contributor Terms" and a "data privacy statement".
</p>
<h4>Map</h4>
<p>
The map will be distributed under CC-by-SA or a similar free license.
</p>
