<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Entwurf!</h4>
    Dieser Teil ist in Bearbeitung. Wir sind dabei, international sinnvolle Formulierungen zu finden.
</div>
<h4>Hochgeladene Tracks</h4>
<p>
Für die hochgeladenen Tracks entwerfen wir <em>Contributor Terms</em>.
Diese gelten auch für die technischen Metadaten.
</p>
<h4>Datenschutzerklärung</h4>
<p>
...
</p>
<h4>Karte</h4>
<p>
Die Karte wird unter CC-by-SA oder einer vergleichbaren freien Lizenz
veröffentlicht werden.
</p>
