<legend>Hochgeladene Tracks</legend>
<p>
Für das Bereitstellen und Hochladen der aufgezeichneten Tracks, erklärst Du dich mit den Bedingungen der
<a href="http://opendatacommons.org/licenses/pddl/1-0/">ODC Public Domain Dedication and Licence (PDDL)</a>
  einverstanden. Zusätzliche Daten, die nicht in den Rohdaten enthalten sind, sind ebenfalls unter dieser Lizenz lizensiert. 
</p>
<h4>Karte</h4>
<p>
Die Karte kann Daten anzeigen, welche die Nennung von Datenspendern erfordert.
So lange die Karte sich in der Testphase befindet, darf sie daher noch nicht frei verwendet werden.
</p>
 
