<legend>Login</legend>

<div class="track-dialog">
	<form>
		<div class="form-table">
			<div class="form-row control-group">
				<div class="form-cell">
					user name / e-mail
				</div>
				<div class="form-cell">
					<input class="input-medium" style="width: 20em" type="text" id="{{idUsername}}" data-trt-placeholder="1004:Email">
				</div>
			</div>
			<div class="form-row control-group">
				<div class="form-cell">
					<p>password</p>
				</div>
				<div class="form-cell">
					<input class="input-medium" style="width: 20em" type="password" id="{{idPassword}}" data-trt-placeholder="1005:Password">
				</div>
			</div>
			<div class="form-row control-group"  style="padding-bottom: 5px">
				<div class="form-cell">
				</div>
				<div class="form-cell">
					<button type="submit" id="{{idSubmit}}" class="btn btn-block btn-info" data-loading-text="Loading..." data-trt="1006:Sign in"></button>
				</div>
			</div>
			<div class="form-row control-group"  style="padding-bottom: 5px">
				<div class="form-cell">
				Don't have an account?
				</div>
				<div class="form-cell">
					<a href="#register" class="btn btn-block" data-trt="1018:Register"></a>
				</div>
			</div>
			<div class="form-row control-group">
				<div class="form-cell">
				Forgot your password?
				</div>
				<div class="form-cell">
					<a href="#reset-password" class="btn btn-block" data-trt="1400:Reset password"></a>
				</div>
			</div>
		</div>
	</form>
</div>
