<div class="alert alert-block">
<button type="button" class="close" data-dismiss="alert">×</button>
<h4 data-trt="1036:Warning!"></h4>
<span data-trt="1037:The provided data will be processed manually. Therefore it can go some days between an upload and the visualization."></span>
</div>
<div class="oseam-map-tracks"></div>

<div>
<img src="images/Scale.png" />
</div>
