<div class="well sidebar-nav">
    <ul class="nav nav-list">
    
        <li class="nav-header" data-trt="1021:Depth Data"></li>
        <li><a href="#introduction" data-trt="1022:Introduction"></a></li>
        <li><a href="#tracks" data-trt="1023:Tracks"></a></li>
        <li><a href="#vessels" data-trt="1024:Vessels"></a></li>
        <li><a href="#gauges" data-trt="1075:Gauges"></a></li>
        <li><a href="#user" data-trt="1200:User"></a></li>
<!--        <li><a href="#licenses" data-trt="1076:Licenses"></a></li>-->

        <li class="nav-header" data-trt="1034:Maps"></li>
        <li><a href="#maptracks" data-trt="1035:Tracks"></a></li>
        <li><a href="http://map.openseamap.org/?layers=BFTFFFFFFTF0FFFFFTTT" target="_blank" data-trt="1048:Fullscreen Chart"></a></li>

        <li class="nav-header" data-trt="1025:Additional information"></li>
        <li><a href="#instructions" data-trt="1066:Upload Instructions"></a></li>
        <li><a href="#license" data-trt="1014:License"></a></li>
        <li><a href="#contribute" data-trt="1201:Contribute"></a></li>
        <li><a href="#documentation" data-trt="1202:Documentation"></a></li>
        <li><a href="#attributions" data-trt="1026:Attributions"></a></li>

        <li class="nav-header" data-trt="1079:Feedback"></li>
        <li><a href="#contact" data-trt="1081:Contact Information"></a></li>
        <li><a href="https://github.com/OpenSeaMap/depth_webfrontend/issues" data-trt="1080:Error Report"></a></li>
      
    </ul>
</div>
