<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
        
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                <ul class="nav pull-right" style="display:block">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="{{idUsernameReadOnly}}"></span>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu oseam-profile">
                            <li><a data-target="logout" data-trt="1033:Logout"></a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav pull-right" style="display:block">
                    <li class="dropdown" id="dropdown_login">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>login / register</span>&nbsp;<b class="caret"></b></a>
						<form class="dropdown-menu oseam-profile" method="post" action="login" style="padding-left: 5px; padding-right: 5px">
							<input class="input-medium" type="text" style="width: 20em" id="{{idUsername}}" data-trt-placeholder="1004:Email">
							<input class="input-medium" type="password" style="width: 20em" id="{{idPassword}}" data-trt-placeholder="1005:Password">
							<button type="submit" id="{{idSubmit}}" class="btn btn-block btn-info" data-loading-text="Loading..." data-trt="1006:Sign in"></button>
							<a href="#register" class="btn btn-block" data-trt="1018:Register"></a>
							<a href="#reset-password" class="btn btn-block" data-trt="1400:Reset password"></a>
						</form>
						
						
                    </li>
                </ul>

            
            <a class="oseam-logo" href="#home"></a>
            <a class="brand" href="#home" data-trt="1000:OpenSeaMap&nbsp;&ndash;&nbsp;Water Depths"></a>
            
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#home" data-trt="1001:Home"></a></li>
                    <li><a href="#about" data-trt="1002:About"></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-trt="1003:Language" />&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu oseam-language">
                            <li><a data-target="en">English</a></li>
                            <li><a data-target="de">German</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
                           
        </div>
    </div>
</div>
