<!--<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    This part is under construction.
</div>-->
<div class="oseam-upload-wrapper">
    <div class="btn btn-info" data-trt="1019:Upload tracks"></div>
    <input type="file" name="track[]" multiple></input>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th data-trt="1040:File Name"></th>
            <th data-trt="1042:Status"></th>
            <th data-trt="1067:File Type"></th>
            <th data-trt="1068:Compression"></th>
            <th data-trt="1069:Containertrack"></th>
            <th data-trt="1070:License"></th>
            <th data-trt="1043:Action"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="oseam-upload-wrapper">
    <div class="btn btn-info" data-trt="1019:Upload tracks"></div>
    <input type="file" name="track[]" multiple></input>
</div>
