<!--<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    This part is under construction.
</div>-->
<legend>
	<p><img src="images/vessels_low.jpg" alt="Vessels"/></p>
</legend>

<div class="track-dialog">
	<form>
		<div class="form-table">
			<div class="form-row">
				<div class="form-cell">
					Fahrzeug
				</div>
				<div class="form-cell">
					<select id="vesselselection" name="vesselselection" class="vesselId">
						<option value="" disabled selected>Select your Vessel Config</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<p>Track-Lizenz</p>
				</div>
				<div class="form-cell">
					<select id="licenseselection" name="licenseselection" class="licenseId">
						<option value="" disabled selected>Select the Track License</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-cell">
					<div class="oseam-upload-wrapper">
						<div class="btn btn-info" data-trt="1019:Upload tracks"></div>
						<input type="file" name="track[]" multiple></input>
					</div> 
				</div>
				<div class="form-cell">Uploads werden st&uuml;ndlich prozessiert. Bei Wartungen kann sich die Auswertung verz&ouml;gern.</div>
			</div>
		</div>
	</form>
</div>

<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th column="id">ID</th>
            <th column="fileName">Dateiname</th>
            <th column="upload_state">Status</th>
            <th column="fileType">Dateityp</th>
            <th column="compression">Kompression</th>
            <th column="containertrack">Container Track</th>
            <th column="vesselconfigid">Fahrzeug</th>
            <th column="licenseid">Lizenz</th>
            <th column="uploadDate">Upload Datum</th>
            <th data-trt="1043:Action"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>

<!--
<div>
	<p>Uploads werden st&uuml;ndlich prozessiert. Bei Wartungen kann sich die Auswertung verz&ouml;gern.</p>
</div>	
<div class="oseam-upload-wrapper">
    <div class="btn btn-info" data-trt="1019:Upload tracks"></div>
    <input type="file" name="track[]" multiple></input>
</div>
-->