<!--<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    This part is under construction.
</div>-->
<!--<p><img src="images/tracks.jpg" alt="Tracks"></p>-->

<form class="vesselId">
<p>Vessel Configuration</p>
<select id="vesselselection" name="vesselselection">
    <option value="" disabled selected>Select your Vessel Config</option>
</select>
</form>
<br/>
<form class="licenseId">
<p>Track Lizenz</p>
<select id="licenseselection" name="licenseselection">
    <option value="" disabled selected>Select the Track License</option>
</select>
</form>
<div class="oseam-upload-wrapper">
    <div class="btn btn-info" data-trt="1019:Upload tracks"></div>
    <input type="file" name="track[]" multiple></input>
</div>
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th column="id">ID</th>
            <th column="fileName" data-trt="1040:File Name"><span class="icon-none"></span></th>
            <th column="upload_state" data-trt="1042:Status"><span class="icon-none"></span></th>
            <th column="fileType" data-trt="1067:File Type"><span class="icon-none"></span></th>
            <th column="compression" data-trt="1068:Compression"><span class="icon-none"></span></th>
            <th column="containertrack" data-trt="1069:Containertrack"><span class="icon-none"></span></th>
            <th column="vesselconfigid" data-trt="1077:Vessel"><span class="icon-none"></span></th>
            <th column="licenseid" data-trt="1070:License"><span class="icon-none"></span></th>
            <th column="uploadDate" data-trt="1078:Date"><span class="icon-none"></span></th>
            <th data-trt="1043:Action"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="oseam-upload-wrapper">
    <div class="btn btn-info" data-trt="1019:Upload tracks"></div>
    <input type="file" name="track[]" multiple></input>
</div>