<!--<div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Warning!</h4>
    This part is under construction.
</div>-->
<p><img src="images/tracks_low.jpg" alt="Tracks"></p>

<form class="vesselId">
<p>Fahrzeugkonfiguration</p>
<select id="vesselselection" name="vesselselection">
    <option value="" disabled selected>W&auml;hlen Sie ihre Fahrzeugkonfiguration</option>
</select>
</form>
<br/>
<form class="licenseId">
<p>Track Lizenz</p>
<select id="licenseselection" name="licenseselection">
    <option value="" disabled selected>W&auml;hlen Sie die Lizenz aus</option>
</select>
</form>
<div>
	<p>Uploads werden st&uuml;ndlich prozessiert. Bei Wartungen kann sich die Auswertung verz&ouml;gern.</p>
</div>	
<div class="oseam-upload-wrapper">
    <div class="btn btn-info" data-trt="1019:Upload tracks"></div>
    <input type="file" name="track[]" multiple></input>
</div>
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th column="id">ID</th>
            <th column="fileName">Dateiname<span class="icon-none"></span></th>
            <th column="upload_state">Status<span class="icon-none"></span></th>
            <th column="fileType">Dateityp<span class="icon-none"></span></th>
            <th column="compression">Kompression<span class="icon-none"></span></th>
            <th column="containertrack">Container Track<span class="icon-none"></span></th>
            <th column="vesselconfigid">Fahrzeug<span class="icon-none"></span></th>
            <th column="licenseid">Lizenz<span class="icon-none"></span></th>
            <th column="uploadDate">Upload Datum<span class="icon-none"></span></th>
            <th data-trt="1043:Action"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div>
	<p>Uploads werden st&uuml;ndlich prozessiert. Bei Wartungen kann sich die Auswertung verz&ouml;gern.</p>
</div>	
<div class="oseam-upload-wrapper">
    <div class="btn btn-info" data-trt="1019:Upload tracks"></div>
    <input type="file" name="track[]" multiple></input>
</div>