<div>

    <div class="span8">
        <h4>User Data</h4>
        <h5>Manage your user data</h5>
        
        <div class="control-group">
            <p><label class="tableft50">E-Mail*</label></p>
            <div class="input-append">
                <input type="text" id="user" name="user" placeholder="0.00" value="{{jane@doe.com}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50">Forename</label></p>
            <div class="input-append">
                <input type="text" id="forename" name="forename" placeholder="Jane" value="{{forename}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50">Surname</label></p>
            <div class="input-append">
                <input type="text" id="surname" name="surname" placeholder="Doe" value="{{surname}}"/>
            </div>
        </div>

        <div class="control-group">
            <p><label class="tableft50">Country</label></p>
            <div class="input-append">
                <div class="bfh-selectbox bfh-countries" data-country="US" data-flags="true">
                </div>
            </div>
        </div>
        
        <div class="control-group">
            <p><label class="tableft50">Language</label></p>
            <div class="input-append">
                <div class="bfh-selectbox bfh-languages" data-language="en_US" data-flags="true">
                </div>
            </div>
        </div>

        
    </div>

</div>