<!--<p><img src="images/vessels.jpg" alt="Vessels"></p>-->
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Beschreibung</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<button class="btn oseam-add"><i class="icon-plus-sign"></i> Neue Konfiguration hinzufügen ...</button>
