<div>
<div class="control-group">
    <h3>Vessel Configuration</h3>
    <h4>Please provide additional data</h4>
    <p><label for="configname" class="tableft50">Metadataset </label></p>
    <div class="input-append"><input type="text" id="configname" name="configname" placeholder="Name of the configuration"></div>

    <p><label class="tableft50">Description / Notes</label></p>
    <div class="input-append">
    <textarea class="textareabig" name="description" cols="600" rows="5" placeholder="Provide additional information that may be used to improve data quality"></textarea>
    </div>
    <p><label for="yacht_length" class="tableft50">Length </label></p>
    <div class="input-append"><input id="yacht_length" class="input-mini" type="number" placeholder="0.0" name="Length"><span class="add-on">m</span></div>
    <p><label for="yacht_beam" class="tableft50">Beam</label></p>
    <div class="input-append"><input id="yacht_beam" class="input-mini" type="number" placeholder="0.0" name="beam"><span class="add-on">m</span></div>
    <p><label for="yacht_draft" class="tableft50">Draft</label></p>
    <div class="input-append"><input id="yacht_draft" class="input-mini" type="number" placeholder="0.0" name="draft"><span class="add-on">m</span></div>
    <p><label for="yacht_displacement" class="tableft50">Displacement</label></p>
    <div class="input-append"><input id="yacht_displacement" class="input-mini" type="number" placeholder="0.0" name="displacement"><span class="add-on">t</span></div>

</div>