<legend>
	<p><img src="images/vessels_low.jpg" alt="Vessels"/></p>
</legend>
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th column="id">#<span class="icon-none"></span></th>
            <th column="name">Name<span class="icon-none"></span></th>
            <th column="description">Beschreibung<span class="icon-none"></span></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<button class="btn oseam-add"><i class="icon-plus-sign"></i> Neue Konfiguration hinzufügen ...</button>
