<table class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<button class="btn oseam-add"><i class="icon-plus-sign"></i> Add new vessel ...</button>
