<legend>
	<div class="hero-unit">
    	<h1>Herzlich willkommen!</h1>
    	<p>
    	<br>
    	Wir freuen uns, das Du unser Projekt mit den von Dir gesammelten 
    	Tiefendaten unterstützen möchtest.<br><br>
    	Derzeit unterstützen dieses Projekt 1300 Wassersportfreunde weltweit.<br>
    	Insgesamt haben wir in unserer Datenbank 200 Mio. Datenpunkte.
    	</p>
	</div>
</legend>

<div class="row-fluid">
    <div class="span4">
        <h2>Sammeln</h2>
        <p>
        Hilf uns Wassertiefen-Daten zu sammeln! GPS, Echolot und PC
        reichen aus. Wir generieren daraus Tiefenlinien für die
        Karte. Weltweit.
        </p>
        <p><a class="btn" href="#introduction">Details anzeigen &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Berechnung</h2>
        <p>
        Aus Deinen Rohdaten berechnen wir die Wassertiefe. Wir
        beschicken sie mit Welle und Tide. Aus tausenden Datenpunkten
        erzeugen wir mit statistischen Methoden ein möglichst genaues
        Geländeprofil.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Rendern</h2>
        <p>
        Aus dem Tiefenprofil leiten wir Tiefenlinien ab. Bei
        ausreichender Genauigkeit werden diese in der Karte
        angezeigt.
        </p>
        <p><a class="btn btn-link" href="http://wiki.openseamap.org/wiki/Depth_Data" target="_blank">Wiki &raquo;</a></p>
    </div>
</div>
