<header>
  <div id="progress_indicator"></div>
<!--  <ul class="tabs">
    <li>General</li>    
    <li>Vessel</li>   
    <li>GPS</li> 
    <li>Sounder</li> 
  </ul>-->
<!-- <h2 id="step_title"></h2>
  <p id="step_instructions"></p>-->
</header>
<div class="current_step_container"></div>
