.navbar .oseam-logo {
    float      : left;
    margin     : 4px 4px 0px 0px;
    padding    : 0px;
    height     : 32px;
    width      : 32px;
    background : url(../images/openseamap-logo-32.png) no-repeat;
}

.navbar form {
    margin-top : 2px;
}

.navbar form input {
    height : 16px;
}

.table .progress {
    margin-bottom : 0px;
}

.oseam-upload-wrapper {
    position:relative;
    overflow:hidden;
    width:176px;
    height:30px;
    cursor:pointer;
    margin-bottom:10px;
}

.oseam-upload-wrapper div {
    position:absolute;
    width:150px;
}

.oseam-upload-wrapper input {
    position:absolute;
    cursor:pointer;
    margin-left:-113px;
    -moz-opacity:0;
    filter:alpha(opacity:0);
    opacity:0;
}

.oseam-map-tracks {
    height:600px;
    border: 1px solid #E3E3E3;
}

/* revert bootstrap settings */
.oseam-map-tracks img {
    max-width: none;
    vertical-align: none;
}
